.blog-items-list {
  width: 95%;
  max-width: 1000px;
  margin-top: 40px;
  border: none;
  padding-left: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
