.home-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-img {
  width: 150px;
}

.name {
  margin-top: 2px;
  margin-bottom: 2px;

  font-family: 'Roboto';
  font-weight: 500;
  color: #000000;
  font-size: 20px;
}

.designation {
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
  color: #555555;
}
